/* BNMR  Custom Status page stylesheet */

/* BNMR specific */
.header     { color: white ; background-color: MediumSlateBlue; font-weight: bold; font-size: 175%; }
.hdreverse  { color: MediumSlateBlue;  background-color: white; font-weight: bold; font-size: 175%; }
.title  { color: black; background-color: LightSteelBlue; font-weight: bold; }
.item  { color: black; background-color: LightSkyBlue; font-weight: bold; }
.smaller { color: white ; background-color: MediumSlateBlue; font-weight: bold; font-size: 50%; }

/* styles common to BNMR/BNQR are in common.css including parameters styles */