/* BNQR  Custom Status page stylesheet */

/* BNQR specific */
.header { color: white ; background-color:lightseagreen; font-weight: bold; font-size: 175%; }
.hdreverse  { color:lightseagreen ;  background-color: white; font-weight: bold; font-size: 175%; }
.title { color: black ; background-color: aquamarine; font-weight: bold; }
.item  { color: black; background-color: azure; font-weight: bold; }
.smaller { color: white ; background-color:lightseagreen ; font-weight: bold; font-size: 50%; }


/* styles common to BNMR/BNQR are in common.css including parameters styles */



