/* styles common to BNMR and BNQR */

/* Buttons definition is from midas style sheet */

/* define special shape for ALL buttons */
button, input[type=button], input[type=submit], input[type=reset] {
	background-color:  #d9d9d9; /*#00B26B;*/
	color: #444444;
	font-size: 90%;
	padding:0.125em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	border:1px solid #808080;
	border-radius: 5px;
	margin-bottom:0.5px;
        box-shadow: 0 4px #999;
}
/* special colours for enabled buttons */
button:enabled, input:enabled[type=button], input:enabled[type=submit], input:enabled[type=reset] {
   background: #f5f5f5; /* Old browsers */
   background: -moz-linear-gradient(top,  #f5f5f5 0%, #c0c0c0 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#c0c0c0)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #f5f5f5 0%,#c0c0c0 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #f5f5f5 0%,#c0c0c0 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */
}


/* special colours for hovered buttons */
button:hover:enabled, input[type=button]:hover:enabled, input[type=submit]:hover:enabled, input[type=reset]:hover:enabled {
   background: #ffffff; /* Old browsers */
   background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f3f3f3), color-stop(51%,#ededed), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
/* special colours for active buttons */
button:active:enabled, input[type=button]:active:enabled, input[type=submit]:active:enabled, input[type=reset]:active:enabled {
 background-color:  #8c8c8c;
 color: #FFFFFF
 box-shadow: 0 2.5px #666;
  transform: translateY(4px);
}
  
/* default colours for disabled buttons */
button:disabled, input[type=button]:disabled, input[type=submit]:disabled, input[type=reset]:disabled {
 background-color:  #FFFFFF;
}




/* classes */
.psmtbg  { color: black ; background-color:#c9ffe5 ; font-weight: normal; font-size: 100%; }
.allpsmtbg  { color:#c9ffe5  ; background-color:#c9ffe5 ; font-weight: normal; font-size: 100%; }
.falsebutton { color: black ; background-color: grey; font-size: 85%; }
.on { color: black ; background-color: lime; font-weight: bold; }
.off { color: black ; background-color: pink; font-weight: bold; }
.help { color: black ; background-color: lavenderblush; font-weight: bold; }
.helplinks { color: black ; background-color: lavender; font-weight: bold; }
.buttons { color: black ; background-color: #e6e6e6 }
.alias { color: black ; background-color:  rgb(204, 255, 255); font-weight: bold; }
.stats { color: black ; background-color: mintcream; font-weight: normal; }
.statt { color: black ; background-color: lavender; font-weight: bold; }
.festats { color: black ; background-color: azure; font-weight: normal; }
.festatt { color: black ; background-color: thistle; font-weight: bold; }
/* ppgmode used for PPG Mode box and Selected PPG Mode button */
.ppgmode1 { color: white ; background-color: blue; font-weight: bold;  font-size: 100%; font-style: normal; }
.ppgmode2 { color: white ; background-color: purple; font-weight: bold;  font-size: 100%; font-style: normal; }
.ppgmodeC { color: white ; background-color: green; font-weight: bold;  font-size: 100%; font-style: normal; }
.clicked {font-weight: bold;  font-size: 100%; }
.msg { color: black ; background-color: cornsilk; font-weight: normal; }
.alarm { color: black;  background-color: white; font-weight: normal; font-size: 175%; text-align: center }
.bgrey { color: rgb(204, 204, 204); background-color: rgb(204, 204, 204) ; }
.allwhite { color: white ; background-color: white; }
.autorun  { color: lime; background-color:black;  font-weight: bold;}
.yellow { color: black; background-color:yellow;  font-weight: bold;}
.green { color: black; background-color:lime;  font-weight: bold;}
.red { color: black; background-color:red;  font-weight: bold; }
.redwhite { color: white; background-color:red;  font-weight: bold;}
.orange { color: black; background-color:orange;  font-weight: bold;}
.orangewhite { color: white; background-color:orange;  font-weight: bold;}
.blue { color: white; background-color:blue;  font-weight: bold;}
.bluewhite { color: blue; background-color:white;  font-weight: bold;}
.beige { color: black; background-color:beige;  font-weight: bold;}
.pink { color: black; background-color:pink;  font-weight: bold;}
/* .white { color: black; background-color:white;  font-weight: bold;} */
.white { color: black; background-color:white;  font-weight: normal; font-size: 100%; }
.honeydew { color: black; background-color:honeydew;  font-weight: bold;}
.dkgreen { color: black; background-color:#70db70;  font-weight: bold;}
.festattout { color: thistle; background-color: thistle;  font-weight: normal;  font-size: 100%; font-style: normal; }

.helup  { color: azure; background-color: navy;  font-weight: bold;  font-size: 100%; font-style: normal; }
.heldown  { color: azure; background-color: darkmagenta;  font-weight: bold;  font-size: 100%; font-style: normal; }
.sample  { color: azure; background-color: #9900ff;  font-weight: bold;  font-size: 100%; font-style: normal; }
.reference  { color: #9900ff; background-color: azure;  font-weight: bold;  font-size: 100%; font-style: normal; }

.fcw { color: saddlebrown; background-color: white; font-weight:bold; font-size:100%;  font-style: normal; }
.fcw_param { color: black ; background-color: yellow; font-weight: normal; }
/* vertical-align:top  text-align: left */

/* Styles used by parameter custom page */
 .psm_title { color: white ; background-color: blue; font-weight: bold; font-size: 120%; }
 .ppg_title { color: black ; background-color: gold; font-weight: bold; font-size: 120%;  }
 
 .heading { color: black ; background-color: lightcyan; font-weight: bold; }
 .error { color: red ; background-color: white; font-weight: normal; }
 .warn  { color: #ff8000 ; background-color: white; font-weight: normal;  }
 .bolderror  { color: red ; background-color: white; font-weight: bold;  font-size: 160%; }
 .boldwarn  { color: #ff8000 ; background-color: white; font-weight: bold;  font-size: 140%; }
 .perl { color: orange ; background-color: white; font-weight: normal; }
 .info { color: grey ; background-color: white; font-weight: normal;  }
 .param { color: black ; background-color: lemonchiffon; font-weight: normal; }
 .param_float { color: blue ; background-color: lemonchiffon; font-weight: normal; }
 .psm_info { color: black ; background-color: aliceblue; font-weight: normal;text-align: center; font-size: 100%; font-style:italic;}
 .em { color: black ; font-weight: bold;  font-size: 100%; font-style: italic; }
 .it { color: black ; font-weight: normal;  font-size: 100%; font-style: italic; }
 .small { color: black ; font-weight: normal;  font-size: 80%; font-style: italic; }
 .update { color: black ; background-color: whitesmoke; font-weight: normal;  font-size: 80%;  }
 .running { color: black ; background-color: lime; font-weight: bold;  font-size: 120%; font-style: normal; }
 .stopped { color: black ; background-color: red; font-weight: bold;  font-size: 120%; font-style: normal; }
 .transition { color: black ; background-color: orange; font-weight: bold;  font-size: 120%; font-style: normal; }
 .asterisk { color: red ; font-weight: bold;  font-size: 80%; font-style: italic; }
 .asterisk2 { color: orange ;  background-color: black;  font-weight: bold;  font-size: 150%; font-weight: bold; }
 .asterisk3 { color: orange ;  background-color: white;  font-weight: bold;  font-size: 100%; font-weight: bold; }
 .footnote { color: grey ; background-color: white; font-weight: normal; font-style: italic;  font-size: 80%;  }
 .common { color: black ; background-color: wheat; font-weight: normal; }
 .scan { color: black ; background-color: tan; font-weight: normal; }
 .scan_float { color: blue ; background-color: tan; font-weight: normal; }
/* .mode10 { color: black ; background-color: ; font-weight: normal; } */
 .dual { color: black ; background-color: linen; font-weight: normal; }
 .normal { color: black ; background-color: white; font-weight: normal; text-align: left }
 .debug { color: black ; background-color: blanchedalmond; font-weight: normal; text-align: left }
 .debug_r { color: orange ; background-color: black; font-weight: normal; text-align: left }
 .note { color: green ; font-weight: normal; text-align: left; font-size: 80%;  font-style: italic; }
 .inter { color:navy; background-color:sandybrown ; font-size:100%; font-weight: bold; }
 .retin { color:sandybrown; background-color:navy ; font-size:100%; font-weight: bold; }

/* psm
   1f  blue */
 .onef { color: black ; background-color: azure; font-weight: normal; }
 .onef_iq { color: black ; background-color: lightsteelblue; font-weight: normal; }
 .onef_b { color: black ; background-color: lightskyblue; font-weight: normal; }
 .onef_s { color: black ; background-color: aliceblue; font-weight: normal; }
 .onef_g { color: blue ; background-color: azure; font-weight: normal; font-size: 75%; }
/* 3f purple */
 .threef { color: black ; background-color: lavender; font-weight: normal; }  /* thistle */
 .threef_iq { color: black ; background-color: plum; font-weight: normal; }
 .threef_b { color: white ; background-color: violet; font-weight: normal; }
 .threef_s { color: black ; background-color: thistle; font-weight: normal; }
 .threef_g { color: violet ; background-color: lavender; font-weight: normal; font-size: 75%; }
/* 5f pink */
 .fivef { color: black ; background-color: mistyrose; font-weight: normal; }
 .fivef_iq { color: black ; background-color: lightpink; font-weight: normal; }
 .fivef_b { color: white ; background-color: palevioletred; font-weight: normal; } /* palevioletred lightpink */
 .fivef_s { color: white ; background-color: violet; font-weight: normal; }
 .fivef_g { color: maroon ; background-color: mistyrose; font-weight: normal; font-size: 75%; }
/* fRef green */
 .fref { color: black ; background-color: mintcream; font-weight: normal; }
 .fref_iq { color:black ; background-color: aquamarine; font-weight: normal; }
 .fref_b { color: black ; background-color: darkturquoise; font-weight: normal; }  
 .fref_s { color: black ; background-color: lightcyan; font-weight: normal; }  
 .fref_tun { color: black ; background-color: honeydew; font-weight: bold; }  /* honeydew */
 .fref_g { color: green ; background-color: mintcream; font-weight: normal; font-size: 75%;  }



/* psmiii
   ch1  blue */
 .f0ch1 { color: black ; background-color: azure; font-weight: normal; }
 .f0ch1_iq { color: black ; background-color: lightsteelblue; font-weight: normal; }
 .f0ch1_b { color: black ; background-color: lightskyblue; font-weight: normal; }
 .f0ch1_s { color: black ; background-color: aliceblue; font-weight: normal; }
 .f0ch1_g { color: blue ; background-color: azure; font-weight: normal; font-size: 75%; }
/* ch2 purple */
 .f0ch2 { color: black ; background-color: lavender; font-weight: normal; }  /* thistle */
 .f0ch2_iq { color: black ; background-color: plum; font-weight: normal; }
 .f0ch2_b { color: black ; background-color: violet; font-weight: normal; }
 .f0ch2_s { color: black ; background-color: thistle; font-weight: normal; }
 .f0ch2_g { color: violet ; background-color: lavender; font-weight: normal; font-size: 75%; }
/* ch3 pink */
 .f0ch3 { color: black ; background-color: mistyrose; font-weight: normal; }
 .f0ch3_iq { color: black ; background-color: lightpink; font-weight: normal; }
 .f0ch3_b { color: white ; background-color: palevioletred; font-weight: normal; } /* palevioletred lightpink */
 .f0ch3_s { color: white ; background-color: violet; font-weight: normal; }
 .f0ch3_g { color: maroon ; background-color: mistyrose; font-weight: normal; font-size: 75%; }

/* ch4 yellow */
 .f0ch4 { color: black ; background-color: cornsilk; font-weight: normal; }
 .f0ch4_iq { color: black ; background-color: darkorange; font-weight: normal; }
 .f0ch4_b { color: black ; background-color: wheat; font-weight: normal; } /* palevioletred lightpink */
 .f0ch4_s { color: black ; background-color: beige; font-weight: normal; }
 .f0ch4_g { color: black ; background-color: peachpuff; font-weight: normal; font-size: 75%; }



/* f1ref green */
 .f1ref { color: black ; background-color: mintcream; font-weight: normal; }
 .f1ref_iq { color:black ; background-color: aquamarine; font-weight: normal; }
 .f1ref_b { color: black ; background-color: darkturquoise; font-weight: normal; }  
 .f1ref_s { color: black ; background-color: lightcyan; font-weight: normal; }  
 .f1ref_tun { color: black ; background-color: honeydew; font-weight: bold; }  /* honeydew */
 .f1ref_g { color: green ; background-color: mintcream; font-weight: normal; font-size: 75%;  }




 .bw { color: black ; background-color: white; font-weight: normal;  }

/* tunes */
 .tunes_hdr { color: black ; background-color: lightgrey;  font-weight: bold; text-align: center; }
 .tunes { color: black ; background-color: whitesmoke; font-weight: normal; }
 .tune { color: darkorchid ; background-color: whitesmoke; font-weight: normal;  font-style: italic;  }
 .descrip { color: olivedrab ; background-color: whitesmoke; font-weight: normal;  font-style: italic;  }
 .example { color: grey ; background-color: whitesmoke; font-weight: normal;  font-style: italic;  }


/* compare tunes */
 .tune1 { color: black ; background-color: lightyellow; font-weight: normal; text-align: center;  }
 .tune2 { color: black ; background-color: cornsilk; font-weight: normal; text-align: center;  }
 .psm_tune1 { color: black ; background-color: azure ; font-weight: normal; text-align: center;  }
 .psm_tune2 { color: black ; background-color: lightblue; font-weight: normal; text-align: center;  }

/* 2x_enter_params */
 .rf { color: blue ; background-color: lightblue;  font-weight: bold; font-size: 80%;  }
 .gate { color: black ; background-color: lightgreen;  font-weight: bold; font-size: 80%;  }
 .calc { color: #d3610a  ; background-color: white; font-weight: normal; font-size: 90%;  }
 .beam { color: black ; background-color: pink; font-weight: normal; font-size: 90%;  }
/* .param_f { color: blue ; background-color: lemonchiffon; font-weight: normal; } */
 .dwell { color: purple ; background-color: thistle; font-weight: normal; }

 .bold { font-weight: bold; }
 .italick { font-style: italic; } 



/* ppgmode1 button */

.input1[type=button]  {
 background-color: #0000ff;
 color: #ffffff;
 box-shadow: 0 4px #000088;
}

.input1[type=button]:active {
  background-color: #000080;
  color: #000000;
  box-shadow: 0 4px #ccccff;
  transform: translateY(4px);
}


/* special colours for enabled buttons */
.input1[type=button]:enabled {
  background: #ccccff; /* Old browsers */
   background: -moz-linear-gradient(top,  #ccccff 0%, #0000e6 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccccff), color-stop(100%,#0000e6)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #ccccff 0%,#0000e6 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #ccccff 0%,#0000e6 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #ccccff  0%,#0000e6 100%); /* IE10+ */
   background: linear-gradient(to bottom, #ccccff 0%,#0000e6 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccccff', endColorstr='#0000e6',GradientType=0 ); /* IE6-9 */
}

/* special colours for hovered buttons */
.input1[type=button]:hover:enabled {
   background: #000080; /* Old browsers */
   background: -moz-linear-gradient(top,  #000080 0%, #0000cc 50%, #0000ff 51%, #000080 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000080), color-stop(50%,#0000cc), color-stop(51%,#0000ff), color-stop(100%,#000080)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #000080 0%,#0000cc 50%,#0000ff 51%,#000080 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #000080 0%,#0000cc 50%,#0000ff 51%,#000080 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #000080 0%,#0000cc 50%,#0000ff 51%,#000080 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #000080 0%,#0000cc 50%,#0000ff 51%,#000080 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000080', endColorstr='#000080',GradientType=0 ); /* IE6-9 */
}

/* ppgmode2 Button */
.input2[type=button]  {
 background-color: #800080;
 color: #ffffff;
 box-shadow: 0 4px #4d004d;
}

.input2[type=button]:active {
  background-color: #000080;
  color: #000000;
  box-shadow: 0 4px #ff99ff;
  transform: translateY(4px);
}

/* special colours for enabled buttons */
.input2[type=button]:enabled {
  background: #800080; /* Old browsers */
   background: -moz-linear-gradient(top,  #800080 0%, #ffe6ff 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#800080), color-stop(100%,#ffe6ff)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #800080 0%,#ffe6ff 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #800080 0%,#ffe6ff 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #800080  0%,#ffe6ff 100%); /* IE10+ */
   background: linear-gradient(to bottom, #800080 0%,#ffe6ff 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#800080', endColorstr='#ffe6ff',GradientType=0 ); /* IE6-9 */
}

/* special colours for hovered buttons */
.input2[type=button]:hover:enabled {
   background: #660066; /* Old browsers */
   background: -moz-linear-gradient(top,  #660066 0%, #b300b3 50%, #ff00ff 51%, #660066 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#660066), color-stop(50%,#b300b3), color-stop(51%,#ff00ff), color-stop(100%,#660066)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #660066 0%,#b300b3 50%,#ff00ff 51%,#660066 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #660066 0%,#b300b3 50%,#ff00ff 51%,#660066 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #660066 0%,#b300b3 50%,#ff00ff 51%,#660066 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #660066 0%,#b300b3 50%,#ff00ff 51%,#660066 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660066', endColorstr='#660066',GradientType=0 ); /* IE6-9 */
}


/* ppgmodeC button */
.input3[type=button]  {
 background-color: #4CAF50;
 color: #ffffff;
 box-shadow: 0 4px #1f4720;
}

.input3[type=button]:active {
  background-color: #83c985;
  color: #000000;
  box-shadow: 0 4px #b8e0b9;
  transform: translateY(4px);
}

/* special colours for enabled buttons */
.input3[type=button]:enabled {
  background: #008000; /* Old browsers */
   background: -moz-linear-gradient(top,  #008000 0%, #80ff80 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#008000), color-stop(100%,#80ff80)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #008000 0%,#80ff80 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #008000 0%,#80ff80 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, #008000  0%,#80ff80 100%); /* IE10+ */
   background: linear-gradient(to bottom, #008000 0%,#80ff80 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008000', endColorstr='#80ff80',GradientType=0 ); /* IE6-9 */
}



/* special colours for hovered buttons */
.input3[type=button]:hover:enabled {
   background: #004d00; /* Old browsers */
   background: -moz-linear-gradient(top,  #004d00 0%, #00b300 50%, #99ff99 51%, #004d00 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004d00), color-stop(50%,#00b300), color-stop(51%,#99ff99), color-stop(100%,#004d00)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #004d00 0%,#00b300 50%,#99ff99 51%,#004d00 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #004d00 0%,#00b300 50%,#99ff99 51%,#004d00 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #004d00 0%,#00b300 50%,#99ff99 51%,#004d00 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #004d00 0%,#00b300 50%,#99ff99 51%,#004d00 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d00', endColorstr='#004d00',GradientType=0 ); /* IE6-9 */
}


/* Buttons to select Test/Real runs. Disabled when selected */

/* default colours for disabled TEST button FFFF00  yellow no box-shadow   */
.input4[type=button]:disabled  {
  background-color: #FFFF00; 
  color: #000000;
 box-shadow: 0 0px #FFFFFF;
}

/* default colours for disabled REAL button 00FF00  lime green no box-shadow   */
.input5[type=button]:disabled  {
  background-color: #00FF00; 
  color: #000000;
 box-shadow: 0 0px #FFFFFF;
}


/* special colours for autorun button */

.input6[type=button]:enabled  {
   background: #00cc00; /* Old browsers */
   background: -moz-linear-gradient(top,  #00cc00 0%, #33ff33 50%, #00ff00 51%, #00cc00 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cc00), color-stop(50%,#33ff33), color-stop(51%,#00ff00), color-stop(100%,#00cc00)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cc00', endColorstr='#00cc00',GradientType=0 ); /* IE6-9 */
}
.input6[type=button]:hover:enabled  {
   background: #00cc00; /* Old browsers */
   background: -moz-linear-gradient(top,  #00cc00 0%, #33ff33 50%, #00ff00 51%, #00cc00 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00cc00), color-stop(50%,#33ff33), color-stop(51%,#00ff00), color-stop(100%,#00cc00)); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* IE10+ */
   background: linear-gradient(to bottom,  #00cc00 0%,#33ff33 50%,#00ff00 51%,#00cc00 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00cc00', endColorstr='#00cc00',GradientType=0 ); /* IE6-9 */
}
